<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.EmpMapper">
    <sql id="commonSelect">
        select id, username, password, name, gender, image, job, entrydate, dept_id, create_time, update_time
        from emp
    </sql>
    <update id="update">
        update emp
        <set>
            <if test = "username != null">username = #{username},</if>
            <if test = "name != null">name = #{name},</if>
            <if test = "gender != null">gender = #{gender},</if>
            <if test = "image != null">image = #{image},</if>
            <if test = "job != null">job = #{job},</if>
            <if test = "entryDate != null">entrydate = #{entrydate},</if>
            <if test = "deptId != null">dept_id = #{deptId},</if>
            <if test = "createTime != null">create_time = #{createTime},</if>
            <if test = "updateTime != null">update_time = #{up dateTime}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByIds">
        <!--批量删除-->
        <!--collection 遍历的集合
            item 遍历的元素
            open 遍历开始前拼接的sql片段
            close 遍历结束后拼接的sql片段
            separator 分隔符-->
        delete from emp where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!--resultType:单条记录封装的类型-->
    <select id="list" resultType="com.itheima.pojo.Emp">
        <!--include 引入sql片段-->
        <include refid="commonSelect"/>
        <where>
            <if test = "name != null">
                name like concat('%' + #{name} + '%')
            </if>
            <if test = "gender != null">
                and gender = #{gender}
            </if>
            <if test = "begin != null and end != null">
                and entrydate between #{begin} and #{end}
            </if>
        </where>
        order by id desc
    </select>
</mapper>
